
		.draft-container {
			display: flex;
			flex-direction: column;
			gap: 15px;
			width: 100%;
			height: 100%;
		}
		.draft-container .draft-card {
			padding: 15px;
			background: #f8f8f8;
			border-radius: 8px;
			box-shadow: 0 2px 5px rgba(0,0,0,0.1);
			cursor: pointer;
			transition: background 0.2s;
			display:flex;
			justify-content: space-between;
			justify-items: end;
			
		}
		.draft-container .draft-card:hover {
			background: #ececec;
		}
		.draft-container .draft-card h4 {
			margin: 0;
			color: #333;
		}
		.draft-container .draft-card p {
			margin: 5px 0;
			color: #666;
		}
		.draft-container .draft-card small {
			color: #999;
		}
