<web-app>
	<servlet>
		<servlet-name>signup</servlet-name>
		<servlet-class>pack.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup</servlet-name>
		<url-pattern>/su</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>pack.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/si</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>compose</servlet-name>
		<servlet-class>pack.ComposeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>compose</servlet-name>
		<url-pattern>/co</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkUser</servlet-name>
		<servlet-class>pack.CheckUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkUser</servlet-name>
		<url-pattern>/cu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>inbox</servlet-name>
		<servlet-class>pack.InboxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>inbox</servlet-name>
		<url-pattern>/in</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>send</servlet-name>
		<servlet-class>pack.SendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>send</servlet-name>
		<url-pattern>/se</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>draft</servlet-name>
		<servlet-class>pack.DraftServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>draft</servlet-name>
		<url-pattern>/dr</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>trash</servlet-name>
		<servlet-class>pack.TrashServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>trash</servlet-name>
		<url-pattern>/tr</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>veiw</servlet-name>
		<servlet-class>pack.VeiwmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>veiw</servlet-name>
		<url-pattern>/ve</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>veiwsend</servlet-name>
		<servlet-class>pack.VeiwSendMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>veiwsend</servlet-name>
		<url-pattern>/vese</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>pack.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/up</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>pack.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>viewAttachment</servlet-name>
		<servlet-class>pack.ViewAttachmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewAttachment</servlet-name>
		<url-pattern>/va</url-pattern>
	</servlet-mapping>
</web-app>